:root {
    --sections-space: 30px;
    --weak-purple: #bfa6cb;
    --accent-purple: rgb(107, 75, 136);
    --blue: rgb(100,131,172);
    --light-turqoise: rgb(58, 133, 145);
    --accent-turqoise: rgb(30,74,74);
    --container-padding: 30px;
    
    --menu-list-width: 150px;

    --torrent-items-margin: 0.2em;
    --torrent-items-padding: 3px;
    --torrent-items-scroll-bar-max-width: calc(var(--sections-space)/2);
}

html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Monaco', 'Courier New', 'monospace';
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    justify-items: center;
    background: rgb(238,174,202);
    background: linear-gradient(
        90deg, rgba(238,174,202,0.6740897042410714) 0%, 
        rgba(194,180,217,0.7357143541010154) 49%, 
        rgba(148,187,233,0.7217087518601191) 100%); 
}

.container {
    
    width: 100%;
    display: grid;
    grid-column-gap: calc(var(--sections-space));
    grid-row-gap: 0;
    padding: 0;
    grid-template-columns: 
var(--menu-list-width) calc(100vw - 2 * var(--sections-space) - var(--menu-list-width));
    justify-content: center;    
    align-content: center; 
    grid-template-areas: "menu main-ui";
}

.positioning-stuff{
}

#menu-bar {
    height: calc(100vh - var(--sections-space));
    margin: 0;
    grid-area: "menu";
    grid-column: 1;
    background-color: var(--accent-purple);
    border-radius: 3em;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#main-ui {

    --top-space: 4em;

    grid-area: main-ui;
    overflow: scroll;
    height: calc(100vh - var(--sections-space) - var(--top-space));

    margin-top: var(--top-space);
    /* background-color: rgba(255, 255, 255, 0.527); */
}

menu{

}


.torrent-item{
    width: auto;
    background-color: white;
    height: 3em;
    margin-top: var(--torrent-items-margin);
    margin-bottom: var(--torrent-items-margin);
    margin-right: var(--torrent-items-scroll-bar-max-width);
    border-radius: 10px;
    padding: var(--torrent-items-padding);
    display: flex;
    align-items: center;
}

.torrent-item:first-of-type{
    margin-top: 0;
}
.torrent-item:last-of-type{
    margin-top: 0;
}