:root {
    /* colors */
    --weak-purple: #bfa6cb;
    --accent-purple: rgb(107, 75, 136);
    --blue: rgb(0, 122, 204);
    --accent-turqoise: rgb(30,74,74);
    --light-turqoise: #02d2b3;
    --accent-orange: rgb(244, 130, 36);
    --vs-code-font-white: rgb(212, 212, 212);
    --vs-code-gray: rgb(30, 30, 30);
    --stackoverflow-gray: #2d2d2d;
    --stackoverflow-font-color: #e7e9eb;
    --darker-font-color: rgb(105, 111, 117);
    
    /* corner radius all elements */
    --corner-radius: 0.6em;


    /* spaces / width of elements */
    --top-bar-height: 1.2em;
    --main-ui-padding-left: 4em;
    --main-ui-padding-top: 4em;
    --sections-space: 30px;
    --container-padding: 30px;
    --left-menu-width: 4em;
    /* --torrent-list-width: 63%;*/
    --torrent-list-width: 100%; /*100% of parent element that is flex:2*/
    --torrent-items-margin: 0.2em;
    --torrent-items-padding: 3px;
    --torrent-items-scroll-bar-max-width: calc(var(--sections-space)/2);
    
    --flex-left: 3;
    --flex-right: 1;

    /* settings / configs */
    --font-color: var(--stackoverflow-font-color);
    --main-ui-bg: var(--stackoverflow-gray);
    --accent-color: var(--accent-orange);
}

html{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Whitney', 'Courier New', 'monospace';
}

body {
    /* need to round corners */
    border-radius: 50px; 
    margin: 0;
    padding: 0;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: var(--accent-color);
    color: var(--font-color)
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;    
    align-content: center; 
    align-items: stretch;
}

#main-ui {
    /* padding-top: var(--main-ui-padding-top); */
    padding-left: var(--main-ui-padding-left);
    background-color: var(--main-ui-bg);
    height: auto;
    border-radius: var(--corner-radius) 0 0 var(--corner-radius);
    /* width: calc(100vw - var(--left-menu-width)); */
    flex: 2;
    display: flex;
    flex-flow: row;
}

#top-bar {  
    height: var(--top-bar-height);
    width: 100vw;
    position: absolute;
    background: transparent;
    /* border: solid;
    border-color: aliceblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-main-section {
    height: 100vh;
    /* padding-top: var(--main-ui-padding-top); */
    display: flex;
    flex-flow: column;
    flex: var(--flex-left);
}

#menu-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100vh;
    border-radius: var(--corner-radius) 0 0 var(--corner-radius);
    width: var(--left-menu-width);
    min-width: var(--left-menu-width);
}

.menu-bar-button {
    padding: 0.4em;
    margin: 0.6em;
    border-radius: 0.55em;


    background-color: rgb(167, 88, 24); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.menu-bar-button:hover {
    background-color: white;
    color: var(--stackoverflow-gray);
}


.drag{
    -webkit-app-region: drag;
}
.no-drag {
    -webkit-app-region: no-drag;
}
.top-right-button-group{
    display: flex;
    flex-direction: row;
}

.top-right-button-group .top-right-buttons {
    background-color: transparent;
    border: none;
    color: var(--font-color);
    padding-left: calc(var(--top-bar-height)/1.8);
    padding-right: calc(var(--top-bar-height)/1.8);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    float: left;
}

.top-right-button-group .top-right-buttons:hover {
    background-color: rgb(82, 82, 82);
}

.top-right-button-group .top-right-buttons:last-child:hover {
    background-color: rgb(237, 66, 69);
}

#app-title{
    /* padding-left: calc(var(--left-menu-width) *1.1); */ /*long title*/
    padding-left: calc(var(--left-menu-width) *0.15); /*shirt title*/
}

#right-main-section {
    height: 100vh;
    /* padding-top: var(--main-ui-padding-top); */
    display: flex;
    flex-flow: column;
    flex: var(--flex-right);
    justify-content: center;
    align-items: center;
}